/* Container của UserInfo */
.user-info-container {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Tiêu đề của phần UserInfo */
  .user-info-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .user-info-title {
    font-size: 28px;
    color: #6a4c93;
    font-weight: bold;
  }
  
  /* Phần nội dung thông tin người dùng */
  .user-info-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
  
  /* Avatar người dùng */
  .user-info-avatar {
    flex-shrink: 0;
  }
  
  .user-info-avatar-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #6a4c93;
  }
  
  /* Phần thông tin chi tiết người dùng */
  .user-info-details {
    flex-grow: 1;
  }
  
  .user-info-details p {
    font-size: 16px;
    color: #333;
    margin: 5px 0;
  }
  
  .user-info-details strong {
    color: #6a4c93;
  }
  .pagination {
    margin: 20px 0;
    display: flex;
    justify-content: center;
  }
  
  .page-button {
    margin: 0 5px;
    width: fit-content;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .page-button.active {
    font-weight: bold;
    color: white;
    background-color: blue;
  }
  