.paymentsuccess-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    height: 100vh; 
    text-align: center; 
}

.img-logo {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    
}
.paymentsuccess-text {
    font-weight: bold; 
    font-size: 1.5rem; 
}
.hello{
    width: 200px;
    height: 70px;
    border-radius: 10px;
}
