/* Add this to your CSS file */
.card-hover {
  background-color: rgb(180, 113, 180);
  transition: transform 0.2s, box-shadow 0.2s; /* Smooth transition for transform and shadow */
}

.card-hover:hover {
  transform: scale(1.05); /* Scale up the card slightly */
  box-shadow  : 0 4px 20px rgba(0, 0, 0, 0.2); /* Add a shadow effect */
  background-color: rgb(146, 68, 146);
  color: aliceblue; 
}
/* Add this to your TransportService.css */
.delete-button {
  background-color: #ff4d4f  !important; /* Red background color */ 
  color: white !important; /* White text color */
  border: none; /* Remove border */
  border-radius: 4px; /* Rounded corners */
  padding: 8px 16px; /* Padding for the button */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s, transform 0.2s; /* Smooth transition for background color and transform */
}

.delete-button:hover {
  background-color: #ff7875; /* Lighter red on hover */
  transform: scale(1.05); /* Slightly scale up on hover */
}
.custom-modal-button {
  width: 120px; /* Set a fixed width */
  text-align: center;
  padding: 8px;
}

.custom-modal .ant-btn { /* Ensure consistency for modal buttons */
  width: 120px; /* Or use a percentage if dynamic resizing is needed */
}
.custom-ok-button {
  background-color: green !important; /* Green background */
  color: white !important;            /* White text */
  border: none;            /* No border */
}

.custom-cancel-button {
  background-color: red !important;   /* Red background */
  color: white !important ;            /* White text */
  border: none;            /* No border */
}

.custom-ok-button:hover, 
.custom-cancel-button:hover {
  opacity: 0.6; /* Slight transparency on hover */
}

