.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(146, 68, 146);
    color: white;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 40px; /* Kích thước hình đại diện */
    height: 40px; /* Kích thước hình đại diện */
    margin-right: 10px; /* Khoảng cách giữa hình đại diện và tên web */
}

.logo {
    font-size: 24px;
    color: white;
}

.navigation ul {
    list-style-type: none;
    display: flex;
    gap: 50px;
}

.navigation a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.navigation a:hover {
    color: #ffa500; /* Màu sắc khi hover */
}

.dropdown {
    position: absolute;
    background-color: rgb(201, 87, 201);
    list-style-type: none;
    padding: 10px;
    margin: 0;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dropdown li {
    margin: 5px 0;
}

.dropdown a {
    color: white;
}

.dropdown a:hover {
    color: #ffa500; /* Màu sắc khi hover trong dropdown */
}
