.pending-orders-container {
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .pending-orders-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .pending-orders-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .pending-orders-header {
    background-color: #f1f1f1;
  }
  
  .pending-orders-header-cell {
    padding: 10px;
    text-align: left;
    font-weight: bold;
    border: 1px solid #ddd;
  }
  
  .pending-orders-body {
    background-color: #fff;
  }
  
  .pending-orders-row {
    border-bottom: 1px solid #ddd;
  }
  
  .pending-orders-cell {
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  .loading-message {
    text-align: center;
    font-size: 18px;
    padding: 20px;
  }
  
  .pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination-button {
    padding: 25px;
    width: 120px;
    margin: 30px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .pagination-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .pagination-info {
    font-size: 16px;
  }

  .action-button-update{
    background-color: #007bff;
    color: white;
  }
  
  .action-button-delete
  {
    background-color: red;
    color: white;
  }